@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

// ? Reset default

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

:root {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;

	--dark-0: hsl(0, 0%, 0%);
	--dark-1: hsl(0, 0%, 20%);
	--dark-2: hsl(0, 0%, 40%);

	--light-0: hsl(0, 0%, 100%);
	--light-1: hsl(0, 0%, 80%);
	--light-2: hsl(0, 0%, 60%);

	--shadow-0: 0 5px 10px rgba(0, 0, 0, 0.45);
	--shadow-1: 5px 5px 5px rgba(0, 0, 0, 0.3);
	--shadow-2: 1px 1px 5px rgba(0, 0, 0, 0.4);

	--danger-0: hsl(0, 100%, 50%);
	--danger-1: hsl(0, 100%, 65%);
	--danger-2: hsla(0, 100%, 70%, 0.4);

	--success-0: hsl(120, 100%, 50%);
	--success-1: hsl(120, 90%, 40%);

	--img-size: 2.75rem;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	width: 0.5rem;
	border-radius: 99px;
	background-color: var(--dark-2);
}

::-webkit-scrollbar-track {
	width: 0.5rem;
	border-radius: 99px;
}

// ? Positioning the container

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--light-1);
}

// ? Container styles, shared by all of the pages

.container {
	width: clamp(400px, 40vw, 500px);
	background-color: var(--light-0);
	box-shadow: var(--shadow-0);

	border: 1px solid var(--dark-1);
	border-radius: 10px;
	padding: 2em 2.25em;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--dark-1);
		margin-bottom: 2rem;
		padding-bottom: 0.5rem;
		font-size: 0.8rem;

		.left-group {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 5px 0;

			a {
				text-decoration: none;
				font-size: 1.5rem;
				margin-right: 1rem;
			}
		}

		button.btn {
			width: unset;
			min-width: unset;
			padding: calc(0.75em - 3px) 1em;
		}

		.contact-info {
			flex-grow: 0;
			text-align: right;

			p {
				margin: 0;
				max-width: unset;
				font-size: 0.9rem;
			}
		}
	}

	form {
		margin-bottom: 0.5em;
	}

	a:any-link {
		color: currentColor;
	}
}

// ? Form error message style

.error-msg {
	display: none;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 0.25em;
	text-align: center;
	color: var(--danger-0);
	background-color: var(--danger-2);
	border: 1px solid var(--danger-0);

	&.active {
		display: block;
	}
}

// ? Form styles

input {
	display: block;
}

.input-group {
	width: 100%;

	.input-icon {
		position: relative;

		i {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);

			&:is(.fa-eye, .fa-eye-slash) {
				cursor: pointer;
			}
		}
	}

	input {
		padding: 5px;
		font-size: 1rem;
		width: 100%;
	}

	small.error {
		margin-top: 2px;
		display: none;
		color: var(--danger-0);
		font-weight: 400;
	}

	&.invalid {
		input {
			background-color: var(--danger-2);
			border: 2px solid var(--danger-1);

			&:focus {
				outline: var(--danger-0);
			}
		}

		i {
			color: var(--danger-1);
		}

		small.error {
			display: block;
		}
	}

	&:not(:first-of-type) {
		margin-top: 0.75rem;
	}

	&:last-of-type {
		margin-bottom: 1.15rem;
	}
}

// ? Contact styles

.contacts-container {
	overflow-y: auto;
	max-height: 278px;
}

.contact {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	cursor: pointer;

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--dark-1);
	}

	&-img {
		background-color: var(--light-1);
		background-image: var(--url);
		background-size: cover;
		background-position: center center;
		width: var(--img-size);
		height: var(--img-size);
		border-radius: 50%;
		margin-right: 1rem;
		box-shadow: var(--shadow-2);
	}

	&-info {
		position: relative;
		flex-grow: 1;
		max-width: calc(100% - var(--img-size) - 2rem);

		p {
			max-width: 80%;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.contact-status {
			position: absolute;
			width: 0.75rem;
			height: 0.75rem;
			border-radius: 50%;
			background-color: var(--light-1);
			right: 0;
			top: 0.75rem;
			box-shadow: inset var(--shadow-1);

			&.active {
				background-color: var(--success-1);
				box-shadow: var(--shadow-2);
			}
		}
	}
}

// ? Message styles

.messages-container {
	max-height: 350px;
	padding-right: 1em;
}

.message {
	max-width: 70%;
	padding: 1em 1.15em;
	background-color: var(--light-1);
	margin-bottom: 10px;
	border-radius: 20px;
	border-top-left-radius: 0;
	line-height: 1.1;

	&.sent {
		border-top-left-radius: 20px;
		border-top-right-radius: 0;
		margin-left: auto;
		background-color: var(--dark-1);
		color: var(--light-0);
	}
}

.messages-container + .input-group {
	margin-bottom: 0;
	display: flex;

	.btn {
		padding-right: 0;
		width: 44px;
		min-width: 44px;
		max-width: unset;
		padding: 0.75em 0;
		display: grid;
		place-items: center;
		margin-left: 5px;
	}
}

// ? Default button style

.btn {
	cursor: pointer;
	font-size: 1rem;
	padding: 0.75em 3em;
	min-width: 200px;
	width: 100%;
	max-width: 100%;
	border: none;
	background-color: var(--dark-1);
	color: var(--light-0);
	font-weight: bold;
	box-shadow: var(--shadow-0);
	box-shadow: var(--shadow-0);
	position: relative;
	overflow: hidden;

	&.btn-light {
		background-color: var(--light-0);
		color: var(--dark-1);
		border: 2px solid var(--dark-1);
		box-shadow: none;
	}

	&:hover, &:focus {
		filter: brightness(1.15);
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 500px;
		height: 500px;
		background-color: hsla(0, 0%, 100%, .2);
		top: 50%;
		left: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%) scale(0);
		transition: transform 100ms ease-in-out;
	}
	
	&:active::after {
		transform: translate(-50%, -50%) scale(1);
	}
}
